<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Librarian Info</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<body>
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background-color:lightgray;">
                        <h1 class="panel-title" th:text="${librarian.librarianName}">Librarian</h1>
                    </div>
                    <div class="panel-body">



                        <div class="row">

                            <div class="col-md-3">
                                <p th:text="'Location:  ' + ${librarian.library.location != null ?(librarian.library.location):'code'}">Library location</p>
                            </div>


                            <div class="col-md-2">

                            </div>
                            <div class="col-md-3">
                                <p th:text="'Email:  ' + ${librarian.email != null ?(librarian.email):'code'}">Email</p>
                            </div>

                            <div class="col-md-6">
                                <a class="btn btn-primary" role="button" th:href="@{'/librarian/update/' + ${librarian.librarianId}}">update librarian</a>
                            </div>



                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
</div>



</body>
</html>